html,
body {
  height: 100%;
}
#sf-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
#push,
#footer {
  height: 4em;
}
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}
html.lt-ie7 #wrap {
  display: table;
  height: 100%;
}
